*.7z
*.cache
*.log
*.csv
*.orig
*.pubxml
*.sha1
*.sublime-workspace
*.suo
*.user
*.zip
*.bak
_NCrunch*
_ReSharper*
bin
obj
out
packages
previous_ndepend
tmp
nlog.config
web.config
validFromGeneration.config
.idea
.vs
*.feature.cs